:root{
    --background: rgb(243, 243, 243);
    --text-color: #33230a;
    --color-lightgrey: #dadada;
    --color-darkgrey: #7e7c7c;
    --color-orange: rgb(216, 140, 41);
}
html{
    box-sizing: border-box;
}
body{
    background-color: var(--background);
    font-family: roboto, sans-serif;
    font-size: 0.9rem;
    color: var(--text-color);
}
main{
    display: flex;
    flex-direction: row;
    margin: 3em;
}
section.left{
    background-color: var(--color-lightgrey);
    flex-basis: 25%;
    margin: 1rem;
}
h1{
    font-size: 4rem;
}
h3{
    text-transform: uppercase;
    margin: 0.5rem 0;
    font-size: 2rem;
}
section.left, section.right{
    margin: 1.5rem;
}
img{
    border: solid 2px white;
    border-radius: 30px;
    width: 7rem;
}
